# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio 2015/2017 cache/options directory
.vs/
*.vs/

# Rider
.idea/
*.sln.iml

# F# Tools
*.fsproj.cache
*.fsproj.AssemblyReference.cache

# Code Coverage
*.coverage
*.coveragexml

# NUnit
*.TestStore
*.nunit

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Mac
.DS_Store

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# VS Code
.vscode/

# Rider
*.sln.iml